<%- include('../partials/header') %>

<br>
<div id="edit-comment-form">
    <form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
        <label id="edittitle">Editing Comment:</label>
        <textarea name="comment" id="editcomment-text" value="<%= comment.comment %>"><%= comment.comment %></textarea>
        <input type="submit" value="Edit Comment" id="editcomment-btn">
    </form>
</div>

<%- include('../partials/footer') %> 