<%- include('../partials/header') %>

    <div id="edit-form">
        <h2>Edit your post</h2>
    </div>

    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div id="editpost-title">
        <label>Title:</label>
        <input type="text" name="title" value="<%= post.title %>">
        </div>
        <div id="editimage-title">
        <label>Image:</label> 
        <input type="url" name="image" id="editimage" value="<%= post.image %>">
        </div>
        <div id="editcoffee-type">
        <label>Coffee or Tea:</label>
        <select name="coffeeType" value="<%= post.coffeeType %>">
            <option value="Light Roast" <%=post.coffeeType=='Light Roast' ? 'selected' : '' %>>&#9749; Light Roast</option>
            <option value="Medium Roast" <%=post.coffeeType=='Medium Roast' ? 'selected' : '' %>>&#9749; Medium Roast</option>
            <option value="Dark Roast" <%=post.coffeeType=='Dark Roast' ? 'selected' : '' %>>&#9749; Dark Roast</option>
            <option value="Matcha" <%=post.coffeeType=='Matcha' ? 'selected' : '' %>>&#127861; Matcha</option>
            <option value="Chai" <%=post.coffeeType=='Chai' ? 'selected' : '' %>>&#129750; Chai</option>
            <option value="Tea" <%=post.coffeeType=='Tea' ? 'selected' : '' %>>&#129750; Tea</option>
        </select>
        </div>
        <div>
        <textarea name="content" id="editpost-content" value="<%= post.content %>"> <%= post.content %> </textarea>
        </div>
        <button type="submit" id="editpost-btn">Edit Post</button>
    </form>




    <%- include('../partials/footer') %>