<%- include('../partials/header') %>


  <section class="posts-index" style="color:#3D2B1F">
    <h2 id="latest">Latest Coffee Posts!<img src="https://cdn.pixabay.com/photo/2022/09/08/17/15/cafe-7441426_1280.png" alt="coffee_mug"></h2>
  </section>

  
  <section class="posts">
    <br>
    <% posts.slice().reverse().forEach(function(p) { %>
      <div id="postimage">
        <%= p.image %>
      </div>
      <div id="title">
        <%= p.title %>
      </div>
      <div id="content">
        <%= p.content %>
      </div>
      <div id="date">
        <%= p.createdAt.toLocaleTimeString() %>
      </div>
      <div id="post-details"><a href="/posts/<%= p._id %>">View Post</a></div>
      <% }); %>
  </section>

  <a href="/posts/new"><button type="button" id="addnew">Add New Post</button></a>

  <%- include('../partials/footer') %>