<%- include('../partials/header') %>


  <section class="posts-index" style="color:#3D2B1F">
    <h2 id="latest">Latest Coffee Posts!</h2>
  </section>

  <a href="/posts/new"><button type="button" id="addnew">Add New Post</button></a>
  <section class="posts">

    <br>
    <% posts.slice().reverse().forEach(function(p) { %>
      <div id="postimage">
        <%= p.image %>
      </div>
      <div id="title">
        <%= p.title %>
      </div>
      <div id="content">
        <%= p.content %>
      </div>
      <div id="date">
        <%= p.createdAt.toLocaleDateString() %>
      </div>
      <div id="post-details"><a href="/posts/<%= p._id %>">Post Details</a></div>
      <% }); %>
  </section>

  <%- include('../partials/footer') %>