<%- include('../partials/header') %>


<h2>Viewing <%= post.userName %>'s Post</h2>
<br>
<div id="post-title"><%= post.title %></div>
<div><%= post.content %></div>
<div id="delete-action">
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
    </form>
</div>
<div id="edit-link">
    <a href="/posts/<%= post._id %>/edit">Edit My Post</a>
</div>
<br>
<section id="comments">
    <% post.comments.forEach(function(c)  { %>
        <p><%= c.userName %></p>
        <p><%= c.comment %></p> 
        <p><%= c.createdAt.toLocaleDateString() %></p> 
     
<% if (user?._id.equals(c.user)) { %>
        <div id="edit-comment">
            <a href="/comments/<%= c._id %>/edit">Edit Comment</a>
        </div>
            <% } %>
        <% }); %>

        <div id="new-comment">
            <form action="/posts/<%= post._id %>/comments" method="POST">
                <label>Comment:</label>
                <textarea name="comment" id="newcomment-text" col="10" rows="10" style="height: 400px; width: 800px;">leave a comment</textarea>
                <input type="submit" value="Leave a Comment">
            </form>
        </div>
</section>




<%- include('../partials/footer') %>