<%- include('../partials/header') %>


<h2>Viewing <%= post.title %></h2>
<div><%= post.content %></div>
<section id="comments">
<p>Comments Placeholder!</p>
</section>


<form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
<button type="submit">X</button>
</form>

<%- include('../partials/footer') %>