<%- include('../partials/header') %>


<h2>Viewing <%= posts.title %></h2>
<img src="<%= posts.image %>" alt="coffee">
<div><%= posts.content %></div>
<section id="comments">
<p>Comments Placeholder!</p>
</section>


<form action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
<button type="submit">X</button>
</form>

<%- include('../partials/footer') %>