<%- include('../partials/header') %>

<section id="postdetails">
    <h2>Viewing <%= post.userName %>'s Post</h2>
    <br>

    <div id="post-title"><%= post.title %></div>
    <% if (post.image) { %>
        <div>
            <img src="<%= post.image %>" id="post-image"/>
        </div>
        <% } %>
        <div id="post-coffeetype">
            <%= post.coffeeType %> 
        </div>
        <div id="post-body">
            <%= post.content %>
        </div>
        <br>
    <% if (user?._id.equals(post.user)) { %>
    <div id="delete-action">
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit" id="delete-btn">Delete Post</button>
        </form>
    </div>
    <div id="edit-link">
        <a href="/posts/<%= post._id %>/edit">Edit My Post</a>
    </div>
    <% } %>
</section>
<br>
<section id="comments">
    <% post.comments.slice().reverse().forEach(function(c)  { %>
        <p><%= c.userName %></p>
        <p><%= c.comment %></p> 
        <div id="comment-date">
        <%= c.createdAt.toLocaleTimeString() %>
        &ncup; 
        <%= c.createdAt.toLocaleDateString() %> 
        </div>
        
<% if (user?._id.equals(c.user)) { %>
        <div id="edit-comment">
            <a href="/comments/<%= c._id %>/edit">Edit Comment</a>
        </div>
        <div id="delete-comment">
            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit" id="deletecomment-btn">Delete Comment</button>
              </form>
        </div>
            <% } %>
        <% }); %>

        <div id="new-comment">
            <form action="/posts/<%= post._id %>/comments" method="POST">
                <textarea name="comment" id="newcomment-text">leave a comment</textarea>
                <input type="submit" value="Leave a Comment" id="leavecomment">
            </form>
        </div>
</section>




<%- include('../partials/footer') %>