<%- include('../partials/header') %>


<h2>Viewing <%= post.title %></h2>
<div><%= post.content %></div>
<section id="comments">
<p>Comments Placeholder!</p>
</section>

<div id="delete-action">
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
    </form>
</div>
<div id="edit-link">
    <a href="/posts/<%= post._id %>/edit">Edit My Post</a>
</div>
<br>
<section id="new-comment">
    <form action="/posts/<%= post._id %>/comments">
    <label>Comment:</label>
    <textarea name="comment" id="" cols="30" rows="10">leave a comment</textarea>
    <input type="submit" value="Leave a Comment">
    </form>
</section>




<%- include('../partials/footer') %>